/* Contenedor principal */
.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

/* Contenedor del formulario */
.form-container {    
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrará todos los elementos del formulario horizontalmente */
    padding: 20px;
    background-color: #ffffff; /* Color claro para contraste */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más definida */
    text-align: left; /* Alinear texto a la izquierda para una lectura más fácil */
    margin-top: 20px;
    width: 100%;
}

/* Título del formulario */
h2 {
    font-size: 28px; /* Aumentar tamaño del título */
    color: #283142; /* Color del texto */
    margin-bottom: 15px;
    font-weight: bold; /* Hacer el título más destacado */
}

/* Estilo para el select */
select {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupa todo el ancho disponible del contenedor */
    max-width: 300px; /* Define un ancho máximo para el select */
    margin: 10px auto; /* Centra el select horizontalmente */
}

/* Centrar la flecha del select */
select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #555;
    pointer-events: none;
}

/* Estilos de hover y focus para el select */
select:hover {
    background-color: #e9ecef;
}

select:focus {
    outline: none;
    border-color: #4b4f54;
    box-shadow: 0 0 0 3px rgba(75, 79, 84, 0.2);
}

.modalidad-text {
    color: #4b4f54; /* Cambia a azul */
    font-size: 16px; /* Ajusta el tamaño del texto */
    margin-top: 10px; /* Añade espacio superior */
    border: 1px solid #ddd; /* Borde ligero */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    background-color: #f9f9f9; /* Fondo claro */
    text-align: center; /* Alineación centrada */
}
