<div class="form-container">
    <h2>Formulario Inicial</h2>
    <p class="form-text" style="text-align: justify;">
        La práctica empresarial es una vivencia académica - laboral, que otorga al estudiante una experiencia en la que
        tiene la oportunidad de integrar, aplicar y reafirmar las competencias adquiridas dentro del aula hacia escenarios
        reales.
        <br /><br />
        Declaro que conozco el Manual General de Prácticas Empresariales de la Fundación Universitaria Compensar, así
        como los lineamientos que lo rigen.
        <br /><br />
        Nota: El diligenciamiento de este formulario lo habilita para dar inicio a su proceso de Práctica Empresarial.
        <br /><br />
        Para seleccionar la modalidad que se ajusta a sus necesidades, es fundamental profundizar en el MANUAL GENERAL
        DE PRÁCTICAS EMPRESARIALES, Numeral 11, y/o consulta con su docente asignado.
    </p>

    <select id="modalidad" name="modalidad" required [(ngModel)]="selectedModalidad" (change)="onModalidadChange()">
        <option [ngValue]="null">Seleccione una modalidad</option>
        <option *ngFor="let modalidad of modalidades" [ngValue]="modalidad">{{ modalidad.nombre }}</option>
    </select>
    
    <div *ngIf="textoModalidad" class="modalidad-text">
        {{ textoModalidad }}
    </div>
       
    <div class="button-container">
        <button pButton type="button" label="Enviar" class="submit-button" (click)="onSubmit()"></button>
    </div>
</div>

