<h1>Mis prácticas</h1>
<p-table [value]="practices" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nivel</th>
      <th>Modalidad</th>
      <th>Empresa</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Estado</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-practica>
    <tr>
      <td>{{ practica.postulacion.oferta.nivel_practica.nombre }}</td>
      <td>{{ practica.postulacion.oferta.modalidad_practica.nombre }}</td>
      <td>{{ practica.postulacion.oferta.empresa.nombre }}</td>
      <td>{{ practica.fecha_inicio }}</td>
      <td>{{ practica.fecha_fin }}</td>
      <td>{{ practica.estado_practica.nombre }}</td>
    </tr>
  </ng-template>
</p-table>