<div class="container">
    <div class="row">
        <div class="col-sm">
          <h2>Entrega Uno</h2>
        </div>
        <div class="col-sm">
            <p-progressBar [value]="25" styleClass="custom-progress-bar"/>
        </div>
      </div>
    <p-table [value]="documentation" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Estado</th>
                <th>Documento</th>
                <th>Acciones</th>
                <th>Fecha cargue</th>
                <th>Observaciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documentation>
            <tr>
                <td>{{ documentation.state }}</td>
                <td>Diagnostico</td>
                <td><p-button icon="pi pi-paperclip"></p-button><p-button icon="pi pi-download"></p-button></td>
                <td>{{ documentation.code }}</td>
                <td>{{ documentation.accions }}</td>                
        </ng-template>
    </p-table>
</div>
