/* Estilos de la barra lateral (sidebar) */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px; /* Ancho de la barra lateral en PC */
  height: 100%; /* Altura completa de la pantalla */
  background-color: #283142; /* Color de fondo de la barra lateral */
  color: white; /* Color del texto en la barra lateral */
  padding: 1rem; /* Espaciado interno */
  z-index: 1000; /* Z-index alto para que esté por encima del header */
}

.sidebar-logo {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  margin-top: 2em;
}

.sidebar ul {
  padding-left: 0;
  margin-top: 30px;
}

.sidebar ul li {
  padding: 10px 15px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s, border-radius 0.3s;
  margin-bottom: 10px;
}

.sidebar ul li.active {
  background-color: #777;
  color: white;
  border-radius: 8px;
}

.sidebar ul li:hover {
  background-color: #555;
  color: white;
  border-radius: 8px;
}

/* Media queries para hacer la barra lateral responsive */
@media (max-width: 1024px) { /* Estilos para tablets */
  .sidebar {
    width: 250px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    position: fixed;
  }
}

.sidebar.hidden {
  display: none;
}

@media (max-width: 768px) {
  .sidebar.hidden {
    display: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #283142;
    color: white;
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .sidebar-logo {
    display: block;
    margin-bottom: 15px;
    margin-top: 80px;
    width: 100%;
    height: auto;
  }
  
  .sidebar {
    width: 70%;
    max-width: 250px;
  }
}

/* Estilos del header */
header {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  width: calc(100% - 250px);
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
}

.hamburger-icon, 
.notification-bell,
.user-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.user-name {
  margin-left: 10px;
}

.notification-bell {
  position: relative;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -3px;
  background-color: #283142;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  header {
    left: 0;
    width: 100%;
  }
  
  .hamburger-icon,
  .notification-bell,
  .user-button {
    margin-left: 10px;
  }
  
  .user-name {
    margin-left: 5px;
  }

  .notification-count {
    width: 18px;
    height: 18px;
    font-size: 10px;
  }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 768px) {
  header {
    height: 50px;
    padding: 0 10px;
  }
  
  .header-container {
    justify-content: space-between;
  }

  .hamburger-icon,
  .notification-bell,
  .user-button {
    margin-left: 5px;
  }
  
  .user-name {
    display: none;
  }

  .notification-count {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }

  /* Asegura que el ícono de hamburguesa esté visible sobre la nav */
  .hamburger-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001; /* Asegura que el botón esté por encima de la nav */
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #283142;
    color: white;
    transition: transform 0.3s ease;
    z-index: 1000;
  }
}

/* Estilos del contenido */
.content {
  padding: 10px;
  margin-left: 312px;
  margin-top: 70px;
  margin-right: 10px;
}

/* Media queries para ajustar el contenido en tablets y móviles */
@media (max-width: 1024px) {
  .content {
    margin-left: 260px;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    margin-top: 60px;
    padding: 10px 5px;
  }
}
