.container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

::ng-deep .resume-button {
    padding: 10px 25px;
    background-color: #cbcaca !important; /* Gris claro */
    color: #283142 !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    transition: background-color 0.3s, transform 0.2s !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}

::ng-deep .resume-button:hover {
    background-color: #283142 !important; /* Azul oscuro */
    transform: scale(1.05) !important;
    color: #f9f9f9 !important;
}

