
    <h1>
        Postulaciones
    </h1>
    <p-table [value]="applications" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }">>
        <ng-template pTemplate="header">
            <tr>
                <th>Fecha</th>
                <th>Empresa</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-applications>
            <tr>
                <td>{{ applications.code }}</td>
                <td>{{ applications.name }}</td>
                <td>{{ applications.statef }}</td>
                <td>{{ applications.observations }}</td>
                <td><p-button icon="pi pi-download" label="Descargar carta" [rounded]="true" severity="contrast"
                    styleClass="resume-button"></p-button>
                </td>
            </tr>
            <tr>
                <td>{{ applications.code }}</td>
                <td>{{ applications.name }}</td>
                <td>{{ applications.state }}</td>
                <td>{{ applications.accions }}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ applications.code }}</td>
                <td>{{ applications.name }}</td>
                <td>{{ applications.state }}</td>
                <td>{{ applications.accions }}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ applications.code }}</td>
                <td>{{ applications.name }}</td>
                <td>{{ applications.state }}</td>
                <td>{{ applications.accions }}</td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>