/* Contenedor del formulario */
.form-container {    
    display: flex;
    flex-direction: column;
    align-items: left; /* Centrará todos los elementos del formulario horizontalmente */
    padding: 20px;
    background-color: #ffffff; /* Color claro para contraste */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más definida */
    text-align: center; /* Alinear texto a la izquierda para una lectura más fácil */
    margin-top: 20px;
    width: 100%;
}

/* Título del formulario */
h2 {
    font-size: 28px; /* Aumentar tamaño del título */
    color: #283142; /* Color del texto */
    margin-bottom: 15px;
    font-weight: bold; /* Hacer el título más destacado */
}


:host ::ng-deep .resume-button {
    padding: 10px 25px;
    background-color: #cbcaca !important; /* Gris claro */
    color: #283142 !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    transition: background-color 0.3s, transform 0.2s !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    margin-right: 10px;
}

:host ::ng-deep .resume-button:hover {
    background-color: #283142 !important; /* Azul oscuro */
    transform: scale(1.05) !important;
    color: #f9f9f9 !important;
}

