<div class="form-container">
  <h2>Formaliza tu práctica</h2>
<p-table [value]="documents" responsiveLayout="scroll" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Documento Solicitado</th>
      <th>Nombre del Documento</th>
      <th>Tamaño</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-documento>
    <tr>
      <td>{{ documento.requestedDocument }}</td>
      <td>{{ documento.name || 'Sin archivo' }}</td>
      <td>{{ documento.size ? (documento.size + ' KB') : 'N/A' }}</td>
      <td>{{ documento.type || 'N/A' }}</td>
      <td>
        <!-- Botón para subir documento -->
        <input type="file" hidden #fileUpload (change)="onFileUpload($event, documento)" />
        <button pButton label="Subir" icon="pi pi-upload" class="resume-button" (click)="fileUpload.click()"></button>

        <!-- Botón para ver el documento -->
        <button pButton label="Ver" icon="pi pi-eye" class="resume-button" (click)="viewDocument(documento)" [disabled]="!documento.fileUrl"></button>

        <!-- Botón para eliminar el archivo asociado -->
        <button pButton label="Eliminar" icon="pi pi-trash" class="resume-button" (click)="removeFile(documento)" [disabled]="!documento.fileUrl"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
