
<p-card header="Información del Contrato de Aprendizaje" class="header-card">
    <div class="header-details">
      <p><strong>Nivel:</strong> {{ headerData.level }}</p>
      <p><strong>Empresa:</strong> {{ headerData.company }}</p>
      <p><strong>Modalidad:</strong> {{ headerData.mode }}</p>
      <p><strong>Inicio:</strong> {{ headerData.startDate }}</p>
      <p><strong>Docente:</strong> {{ headerData.teacher }}</p>
      <p><strong>Estado:</strong> {{ headerData.status }}</p>
    </div>
  </p-card>
  