<p-stepper (onSelect)="onStepSelect($event)" class="header-card">
    <p-stepperPanel *ngFor="let item of items; let i = index" [header]="item.label">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
            <div class="flex flex-column h-12rem">
                <ng-container [ngSwitch]="item.content"> 
                    <app-formalizes *ngSwitchCase="'formalize'"></app-formalizes>
                    <app-registration-practices *ngSwitchCase="'registration'"></app-registration-practices>
                    <app-first-delivery *ngSwitchCase="'first-delivery'"></app-first-delivery>
                    <app-second-installment *ngSwitchCase="'second-installment'"></app-second-installment>
                    <app-third-installment *ngSwitchCase="'third-installment'"></app-third-installment>
                    <app-closing *ngSwitchCase="'closing'"></app-closing>
                    <div *ngSwitchDefault>
                        <p>Contenido no disponible para este paso.</p>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>