/* You can add global styles to this file, and also import other style files */
.p-sidebar{
    background-color: #222222;
}

p-table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos del botón de envío */
.submit-button {
    padding: 10px 25px;
    background-color: #283142; /* Color de fondo */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s; /* Efecto suave */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra del botón */
}

/* Contenedor del botón en la esquina inferior derecha */
.button-container {
    display: flex;
    justify-content: flex-end; /* Alineación a la derecha */
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #4b4f54; /* Color al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala */
}

.submit-button:active {
    background-color: #555; /* Color al hacer clic */
}



::ng-deep .resume-button {
    padding: 10px 25px;
    background-color: #cbcaca !important; /* Gris claro */
    color: #283142 !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    transition: background-color 0.3s, transform 0.2s !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    margin-right: 10px;
}

::ng-deep .resume-button:hover {
    background-color: #283142 !important; /* Azul oscuro */
    transform: scale(1.05) !important;
    color: #f9f9f9 !important;
}

p-table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    max-width: 1200px; /* Añadir esto para controlar el ancho máximo */
    margin-left: auto !important;/* Centramos la tabla */
    margin-right: auto; /* Centramos la tabla */
    table-layout: fixed; /* Fija el ancho de las columnas */
    overflow-x: auto; /* Permite scroll horizontal si el contenido es muy largo */
}

p-table th, p-table td {
    text-align: left; /* Alineación del texto */
    padding: 1rem; /* Espaciado interno de las celdas */
    word-wrap: break-word; /* Evita que el contenido se desborde de las celdas */
}

